body {
    font-family: 'Roboto', cursive;
    background-color: #e8e7e3;
}

.parallax{
    background-image: url("succulent.jpeg");
    min-height: 820px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.header-text{
    color: #101622;
    font-size: 55px;
    position: absolute;
    z-index: 1000;
    top: 100px;
}

.about-me {
    height: 100%;
    font-size: 20px;
    background-color: #101622;
}

.about-me-header {
    padding-top: 20px;
    font-size: 50px;
    color: #53b98f;
}

.parallax2 {
    height: 270px;
    background-image: url("abq.jpg");
    background-size: cover;
    border: 10px solid #101622;
}

.abilities {
    height: 100%;
}

.ability-icons {
    font-size: 80px;
}

.cbody {
    padding: 10px;
}

.skills {
    height: 100%;
    background-color: #101622;
}

.projects {
    height: 100%;
}

#first-project {
    background-image: url("#");
    background-size: cover;
    height: 300px;
}

#second-project {
    background-image: url("popcorn.jpg");
    background-size: cover;
    height: 300px;
}

#third-project {
    background-image: url("leaderboard.jpeg");
    background-size: cover;
    height: 300px;
}

#fourth-project {
    background-image: url("simon-says.png");
    background-size: cover;
    height: 300px;
}

#fifth-project {
    background-image: url("weather.jpeg");
    background-size: cover;
    height: 300px;
}

.resume {
    height: 100%;
    background: url('http://thecodeplayer.com/u/m/b1.png');
}




.icon-size {
    font-size: 20px;
}

.green-text {
    color: #53b98f;
}

.blue-text {
    color: #101622;
}

.tan-text {
    color: #e8e7e3;
}

.green-background {
    background-color: #53b98f;
}

.blue-background {
    background-color: #101622;
}

.tan-background {
    background-color: #e8e7e3;
}

.black-background {
    background: url('http://thecodeplayer.com/u/m/b1.png');
    background-size: cover;
}

.underline {
    text-decoration: underline;
}

.letter-size {
    font-size: 25px;
}

.aws-btn {

    --button-default-height: 48px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 6px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 5px;
    --button-hover-pressure: 2;
    --transform-speed: 0.185s;
    --button-primary-color: #7ac0a2;
    --button-primary-color-dark: #63a089;
    --button-primary-color-light: #121722;
    --button-primary-color-hover: #7fd3ae;
    --button-primary-border: none;
    --button-secondary-color: #7ac0a2;
    --button-secondary-color-dark: #5b917b;
    --button-secondary-color-light: #e8e7e4;
    --button-secondary-color-hover: #81ceae;
    --button-secondary-border: none;
    --button-anchor-color: #131926;
    --button-anchor-color-dark: #07090d;
    --button-anchor-color-light: #e8e7e4;
    --button-anchor-color-hover: #1f283c;
    --button-anchor-border: 1px solid transparent;
}

@media (min-width: 350px) {

    .about-me {
        height:740px;
    }

    .abilities {
        height: 1500px;
    }

}

@media (min-width: 768px) {

    .about-me {
        height:500px;
    }

    .parallax2{
        background-image: url("abq.jpg");
        min-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    .skills {
        background-size: cover;
    }

}